In [7]:
import pandas as pd

# Data Prep

## Reading and Checking DataSet

In [31]:
df = pd.read_csv('RealEstate_California.csv')

In [11]:
df.head()

,Unnamed: 0,id,stateId,countyId,cityId,country,datePostedString,is_bankOwned,is_forAuction,event,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,0,95717-2087851113,9,77,24895,USA,2021-01-13,0,0,Listed for sale,...,0,0.0,0,0,0,0,0,0,LOT,Placer County
1,1,94564-18496265,9,189,36958,USA,2021-07-12,0,0,Listed for sale,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,2,94564-18484475,9,190,36958,USA,2021-07-08,0,0,Listed for sale,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
3,3,94564-18494835,9,191,36958,USA,2021-07-07,0,0,Listed for sale,...,1,1.0,1,Two Story,0,1,0,0,SINGLE_FAMILY,Contra Costa County
4,4,94564-2069722747,9,192,36958,USA,2021-07-07,0,0,Listed for sale,...,0,0.0,0,0,0,0,0,0,LOT,Contra Costa County

In [23]:
df.shape

(35389, 39)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35389 entries, 0 to 35388
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          35389 non-null  int64
 1   id                  35389 non-null  object
 2   stateId             35389 non-null  int64
 3   countyId            35389 non-null  int64
 4   cityId              35389 non-null  int64
 5   country             35389 non-null  object
 6   datePostedString    35386 non-null  object
 7   is_bankOwned        35389 non-null  int64
 8   is_forAuction       35389 non-null  int64
 9   event               35100 non-null  object
 10  time                35100 non-null  float64
 11  price               35389 non-null  float64
 12  pricePerSquareFoot  35389 non-null  float64
 13  city                35389 non-null  object
 14  state               35389 non-null  object
 15  yearBuilt           35389 non-null  int64
 16  streetAddress       35388 non-null  object
 17  zipcode             35364 non-null  float64
 18  longitude           35389 non-null  float64
 19  latitude            35389 non-null  float64
 20  hasBadGeocode       35389 non-null  int64
 21  description         35110 non-null  object
 22  currency            35389 non-null  object
 23  livingArea          35389 non-null  float64
 24  livingAreaValue     35389 non-null  float64
 25  lotAreaUnits        35389 non-null  object
 26  bathrooms           35389 non-null  float64
 27  bedrooms            35389 non-null  float64
 28  buildingArea        35389 non-null  float64
 29  parking             35389 non-null  int64
 30  garageSpaces        35389 non-null  float64
 31  hasGarage           35389 non-null  int64
 32  levels              35389 non-null  object
 33  pool                35389 non-null  int64
 34  spa                 35389 non-null  int64
 35  isNewConstruction   35389 non-null  int64
 36  hasPetsAllowed      35389 non-null  int64
 37  homeType            35389 non-null  object
 38  county              35389 non-null  object
dtypes: float64(12), int64(14), object(13)
memory usage: 10.5+ MB

In [13]:
df.describe()

,Unnamed: 0,stateId,countyId,cityId,is_bankOwned,is_forAuction,time,price,pricePerSquareFoot,yearBuilt,...,bathrooms,bedrooms,buildingArea,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,hasPetsAllowed
count,35389.000000,35389.0,35389.000000,35389.000000,35389.000000,35389.000000,3.510000e+04,3.538900e+04,3.538900e+04,35389.000000,...,35389.000000,35389.000000,3.538900e+04,35389.000000,35389.000000,35389.000000,35389.000000,35389.000000,35389.000000,35389.000000
mean,17694.000000,9.0,132098.297776,34078.596852,0.000085,0.000735,1.614512e+12,1.187889e+06,8.459892e+02,1637.428664,...,2.038684,2.646557,7.081804e+02,0.652830,1.020345,0.492582,0.114584,0.166436,0.013705,0.017915
std,10216.068675,0.0,95436.014804,54411.451830,0.009207,0.027096,6.899196e+10,2.564884e+06,2.211111e+04,746.333162,...,1.687610,2.018320,4.833029e+04,0.476077,1.470744,0.499952,0.318523,0.372477,0.116264,0.132645
min,0.000000,9.0,77.000000,0.000000,0.000000,0.000000,8.717760e+10,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8847.000000,9.0,51737.000000,12773.000000,0.000000,0.000000,1.624320e+12,3.999000e+05,1.810000e+02,1929.000000,...,1.000000,2.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,17694.000000,9.0,111366.000000,25855.000000,0.000000,0.000000,1.625270e+12,6.990000e+05,3.710000e+02,1964.000000,...,2.000000,3.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,26541.000000,9.0,213392.000000,44661.000000,0.000000,0.000000,1.625789e+12,1.199888e+06,5.890000e+02,1989.000000,...,3.000000,4.000000,0.000000e+00,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,35388.000000,9.0,333080.000000,781837.000000,1.000000,1.000000,1.626221e+12,9.500000e+07,2.100000e+06,9999.000000,...,58.000000,99.000000,9.061351e+06,1.000000,88.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Dropping Unnecessary Columns, Columns with less unique values and Columns with no significance

### Dropping Unnamed and ID Columns

In [43]:
df = df.drop(df.columns[0:2], axis=1)

In [84]:
df.shape

(35389, 37)

### Checking Other Columns, Columns with one unique value to be dropped

In [45]:
df.columns

Index(['stateId', 'countyId', 'cityId', 'country', 'datePostedString',
       'is_bankOwned', 'is_forAuction', 'event', 'time', 'price',
       'pricePerSquareFoot', 'city', 'state', 'yearBuilt', 'streetAddress',
       'zipcode', 'longitude', 'latitude', 'hasBadGeocode', 'description',
       'currency', 'livingArea', 'livingAreaValue', 'lotAreaUnits',
       'bathrooms', 'bedrooms', 'buildingArea', 'parking', 'garageSpaces',
       'hasGarage', 'levels', 'pool', 'spa', 'isNewConstruction',
       'hasPetsAllowed', 'homeType', 'county'],
      dtype='object')

In [78]:
one_col = []
for i in df.columns:
    if len(df[i].unique()) == 1:
        one_col.append(i)

In [80]:
for i in one_col:
    print (i,': ',df[i].unique())

stateId :  [9]
country :  ['USA']
state :  ['CA']
currency :  ['USD']

In [86]:
df = df.drop(one_col, axis=1)

In [88]:
df.shape

(35389, 33)

In [90]:
df.head()

,countyId,cityId,datePostedString,is_bankOwned,is_forAuction,event,time,price,pricePerSquareFoot,city,...,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,77,24895,2021-01-13,0,0,Listed for sale,1.610496e+12,145000.0,0.0,Gold Run,...,0,0.0,0,0,0,0,0,0,LOT,Placer County
1,189,36958,2021-07-12,0,0,Listed for sale,1.626048e+12,675000.0,404.0,Pinole,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,190,36958,2021-07-08,0,0,Listed for sale,1.625702e+12,649000.0,459.0,Pinole,...,1,2.0,1,One Story,0,0,0,0,SINGLE_FAMILY,Contra Costa County
3,191,36958,2021-07-07,0,0,Listed for sale,1.625616e+12,599000.0,448.0,Pinole,...,1,1.0,1,Two Story,0,1,0,0,SINGLE_FAMILY,Contra Costa County
4,192,36958,2021-07-07,0,0,Listed for sale,1.625616e+12,299000.0,0.0,Pinole,...,0,0.0,0,0,0,0,0,0,LOT,Contra Costa County

### countyId & cityId are a duplication of county & city respectivly. Dropping countyId & cityId

In [93]:
df = df.drop(['countyId','cityId'], axis =1)

In [95]:
df.shape

(35389, 31)

In [105]:
### According to the Project Scope of Work, is_bankOwned to be droped as none of the listings have been set to True
### Checking Unique Values
df['is_bankOwned'].value_counts()

is_bankOwned
0    35386
1        3
Name: count, dtype: int64

In [133]:
### is_bankOwned has three enties set to True. To be discussed in the next meeting
### Revisiting the uniqe values. However setting the threshold to 10 & 5 Values.
### Columns with less than 10 values to be discussed.

ten_col = []
five_col =[]
for i in df.columns:
    if len(df[i].unique()) <= 5:
        five_col.append(i)
    elif len(df[i].unique()) <= 10:
        ten_col.append(i)

In [135]:
ten_col

['event', 'homeType']

In [137]:
five_col

['is_bankOwned',
 'is_forAuction',
 'hasBadGeocode',
 'lotAreaUnits',
 'parking',
 'hasGarage',
 'pool',
 'spa',
 'isNewConstruction',
 'hasPetsAllowed']